@use '../mixin';
@use '../function';
@use '../base';

/*********************************
	case
*********************************/
.case {
  background-color: base.$base-color;
  padding-top: 58px;
  padding-bottom: 60px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 137px;
    align-items: flex-end;
    @include mixin.mq(md, max) {
      flex-direction: column;
      margin-top: 30px;
    }
  }
  &__item {
    width: calc((100% - 60px) / 3);
    max-width: 280px;
    &:first-of-type {
      .case__thumb img {
        max-width: 125px;
      }
    }
    &:nth-of-type(2) {
      .case__thumb img {
        max-width: 135px;
      }
    }
    &:nth-of-type(3) {
      .case__thumb img {
        max-width: 138px;
      }
    }
    @include mixin.mq(md, max) {
      width: 100%;
      margin: 0 auto;
      max-width: 400px;
      + .case__item {
        margin-top: 30px;
      }
    }
  }
  &__comment {
    font-weight: bold;
    color: #fff;
    line-height: 1.81;
  }
  &__thumb {
      background-color: #fff;
      text-align: center;
      margin-top: 9px;
      min-height: 171px;
      display: flex;
      align-items:flex-end;
      justify-content: center;
    img {
      vertical-align: bottom;
    }
  }
  &__status {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    span {
      background-color: #fff;
      display: block;
      padding: function.em(8, 16) function.em(10, 16);
    }
    .tag1 {
      width: calc((100 / 280) * 100%);
    }
    .tag2 {
      width: calc((172 / 280) * 100%);
    }
    .tag3 {
      margin-top: 10px;
      width: 100%;
    }
  }
}